<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Revonarchy</title>
    <script src="http://fb.me/react-with-addons-0.13.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="javascript/revonarchy.js"></script>
  </head>
  <body>
    <div id="rev-header"></div>
    <script type="text/jsx">
      React.render(
        <h1>Revonarchy</h1>,
        document.getElementById('rev-header')
      );
    </script>
  </body>
</html>
