@dark-gray: #393939;
@light-gray: #6E6E6E;

/* light orange is a primary color but dark to light is used for gradiants */
@dark-orange: #FF5A09;
@light-orange: #F3843E;

/* Only used for flare */
@lightest-orange: #FF9900;

body {
  background-color: @dark-gray;
  color: @light-gray;
}

h1 {
  color: @light-orange;
}
