// Core variables and mixins
@bootstrap-less-dir: "../../node_modules/bootstrap/less";

@import "@{bootstrap-less-dir}/variables.less";
@import "variables.less";
@import "@{bootstrap-less-dir}/mixins.less";

// Reset and dependencies
@import "@{bootstrap-less-dir}/normalize.less";
@import "@{bootstrap-less-dir}/print.less";
@import "@{bootstrap-less-dir}/glyphicons.less";

// Core CSS
@import "@{bootstrap-less-dir}/scaffolding.less";
@import "@{bootstrap-less-dir}/type.less";
@import "@{bootstrap-less-dir}/code.less";
@import "@{bootstrap-less-dir}/grid.less";
@import "@{bootstrap-less-dir}/tables.less";
@import "@{bootstrap-less-dir}/forms.less";
@import "@{bootstrap-less-dir}/buttons.less";

// Components
@import "@{bootstrap-less-dir}/component-animations.less";
@import "@{bootstrap-less-dir}/dropdowns.less";
@import "@{bootstrap-less-dir}/button-groups.less";
@import "@{bootstrap-less-dir}/input-groups.less";
@import "@{bootstrap-less-dir}/navs.less";
@import "@{bootstrap-less-dir}/navbar.less";
@import "@{bootstrap-less-dir}/labels.less";

// Components w/ JavaScript
@import "@{bootstrap-less-dir}/tooltip.less";
// Utility classes
@import "@{bootstrap-less-dir}/utilities.less";
@import "@{bootstrap-less-dir}/responsive-utilities.less";

@small-margin-vertical:    10px;
@standard-margin-vertical: 15px;
@large-margin-vertical:    40px;

// link with icon
a .glyphicon + span {
  display: inline-block;
  margin-left: @padding-xs-horizontal;
  &:hover {
    text-decoration: underline;
  }
}

.navbar h1 {
  margin-top: @navbar-padding-vertical;
  margin-bottom: @navbar-padding-vertical;
}

.hail-revonarch {
  margin-top: @large-margin-vertical;
  text-align: center;
}

h1, .revonarch-red {
  color: @revonarch-red;
}

.user-transitioning-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;

  &.user-transitioning-enter-active {
    opacity: 1;
  }
}

.user-transitioning-leave {
  opacity: 1;
  transition: opacity .5s ease-in;

  &.user-transitioning-leave-active {
    opacity: 0.01;
  }
}

.added-users, .removed-users {
  .btn-toolbar+.btn-toolbar {
    margin-top: @small-margin-vertical;
  }

  .btn-toolbar:last-child {
    margin-bottom: @standard-margin-vertical;
  }
}

.revonarch-section {
  margin-top: @padding-base-horizontal;
}

.links-separator {
  display: inline-block;
  margin: 0 @padding-base-horizontal;
}

ul.added-users {
  // a crown before the new revonarch and then have a fading line for all the other ones.
  padding-left: 0;
  list-style-type:none;

  li {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid @gray-lighter;
  }

  li:first-of-type {
    position: relative;
    padding-left: 25px;
    border-left: none;
    font-size: @font-size-large;
    color: @revonarch-red;

    &:before {
      .glyphicon;
      position: absolute;
      left: -7px;
      content: "\e211";
    }
  }
}

// Coloring the label I don't like on the dark background,
// so I am changing this to not color the text.
.has-success {
    // Color the label and help text
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label  {
      color: @text-color;
    }
}
.has-warning {
    // Color the label and help text
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label  {
      color: @text-color;
    }
}
.has-error {
    // Color the label and help text
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label  {
      color: @text-color;
    }
}
