// Core variables and mixins
@bootstrap-less-dir: "../../node_modules/bootstrap/less";

@import "@{bootstrap-less-dir}/variables.less";
@import "variables.less";
@import "@{bootstrap-less-dir}/mixins.less";

// Reset and dependencies
@import "@{bootstrap-less-dir}/normalize.less";
@import "@{bootstrap-less-dir}/print.less";
@import "@{bootstrap-less-dir}/glyphicons.less";

// Core CSS
@import "@{bootstrap-less-dir}/scaffolding.less";
@import "@{bootstrap-less-dir}/type.less";
@import "@{bootstrap-less-dir}/code.less";
@import "@{bootstrap-less-dir}/grid.less";
@import "@{bootstrap-less-dir}/tables.less";
@import "@{bootstrap-less-dir}/forms.less";
@import "@{bootstrap-less-dir}/buttons.less";

// Components
@import "@{bootstrap-less-dir}/component-animations.less";
@import "@{bootstrap-less-dir}/dropdowns.less";
@import "@{bootstrap-less-dir}/button-groups.less";
@import "@{bootstrap-less-dir}/input-groups.less";
@import "@{bootstrap-less-dir}/navs.less";
@import "@{bootstrap-less-dir}/navbar.less";
@import "@{bootstrap-less-dir}/labels.less";

// Utility classes
@import "@{bootstrap-less-dir}/utilities.less";
@import "@{bootstrap-less-dir}/responsive-utilities.less";

.navbar h1 {
  margin-top: 10px;
}

h1, .revonarch-red {
  color: @revonarch-red;
}

.added-users .btn-toolbar+.btn-toolbar {
  margin-top: 10px;
}
